@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 99;
    top: 0;
    left: 0;
    &.hide {
      display: none;
    }
  }
  .add-wraper {
    &.hide {
      display: none;
    }
    width: 400px;
    height: 550px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    .Close {
      display: flex;
      align-items: center;
      justify-content: end;
      div {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        span {
          position: absolute;
          height: 20px;
          width: 1px;
          background: #000;
          display: block;
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      }
    }
    h2 {
      text-align: center;
      margin-top: 40px;
      font-size: 30px;
    }
    p {
      text-align: center;
      margin-top: 25px;
      color: #939292;
    }
    .circle-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 55px;
      .circle {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        position: relative;
        border: 5px solid #34bd25;
        span {
          position: absolute;
          width: 5px;
          background: #34bd25;
          display: block;
          &:nth-child(1) {
            transform: rotate(55deg);
            height: 65px;
            top: 31px;
            right: 48px;
          }
          &:nth-child(2) {
            transform: rotate(-35deg);
            height: 25px;
            right: 79px;
            top: 60px;
          }
        }
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
      button {
        width: 180px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        border-radius: 25px;
        height: 50px;
        background: #34bd25;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .pop-form {
    button {
      float: right;
      width: 100px;
      height: 30px;
      background-color: #29129d;
      color: #fff;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
    }
    width: 400px;
    height: 550px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    &.hide {
      display: none;
    }
    .head {
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 24px;
        color: #29129d;
        font-weight: 500;
      }
      button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        display: flex;
        justify-content: end;
        i {
          color: #29129d;
          font-size: 24px;
        }
      }
    }
    form {
      &::-webkit-scrollbar {
        width: 0;
      }
      margin-top: 30px;
      width: 100%;
      height: 430px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .outer-radio {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin-top: 30px;
        .radio-field {
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          label {
            margin-left: 5px;
          }
          &:first-child {
            margin-right: 50px;
          }
        }
      }
      .input-field {
        width: 100%;
        border: 1px solid #e0e0e0;
        margin-top: 26px;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        select {
          outline: none;
          background: none;
          border: none;
          height: 32px;
          width: 95%;
          cursor: pointer;
        }
        label {
          position: absolute;
          position: absolute;
          top: 0;
          left: 5px;
          color: #000;
          font-size: 14px;
          background-color: #fff;
          margin-top: -10px;
          &.hide-label {
            display: none;
          }
        }
        input {
          width: 95%;
          height: 30px;
          outline: none;
          background: none;
          border: none;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &[type="number"] {
            -moz-appearance: textfield;
          }
          &:focus::placeholder {
            color: transparent;
          }
          &[type="date"]::-webkit-calendar-picker-indicator {
            width: 18px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }
  nav {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 50px;
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo {
      color: #29129d;
      font-size: 22px;
      span {
        font-size: 18px;
      }
    }
    .search-field {
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      width: 400px;
      height: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      i {
        margin-right: 10px;
        color: #29129d;
      }
      input {
        width: 85%;
        background: none;
        border: none;
        outline: none;
        &::placeholder {
          color: #29129d;
          font-size: 12px;
        }
      }
    }
    button {
      outline: none;
      border: none;
      color: #fff;
      font-size: 16px;
      background-color: #29129d;
      height: 30px;
      width: 115px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  main {
    height: calc(100% - 185px);
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 45px;
    padding: 15px 20px 0;
    .table {
      width: 100%;
      border-collapse: collapse;
      thead {
        tr {
          color: #29129d;
          height: 50px;
        }
      }
      #Tbody {
        tr {
          height: 50px;
          border-bottom: 1px solid #e0e0e0;
          &:last-child {
            border-bottom: none;
          }
          button {
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
          }
          #update {
            i {
              color: #29129d;
              font-size: 16px;
            }
          }
          #delete {
            color: #f00;
            font-size: 16px;
          }
        }
      }
      td,
      th {
        &:nth-child(1) {
          text-align: start;
        }
        &:last-child {
          text-align: end;
        }
        text-align: center;
      }
      td:last-child {
        text-align: center;
      }
    }
  }
  .navigation {
    height: 40px;
    width: 90%;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #29129d;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
      color: #fff;
      font-weight: 300;
    }
  }
}
